{% load spurl %}
{% block headEnd %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
{% endblock %}

{% block main %}
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<h1>Movie World</h1>
{% if user.is_authenticated %}
    <p>Welcome back {{user.get_full_name}}</p>
    <a href="{% url 'logout' %}">Log out</a>
    <a href="{% url 'add_movie' %}">New Movie</a>
{% else %}
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'register' %}">Sign Up</a>
{% endif %}
<hr>
<p>Found {{movie_count}} movies</p>
<hr>

<a href="{% spurl path=request.get_full_path set_query="s=l" %}">Sort By Likes</a>
<a href="{% spurl path=request.get_full_path set_query="s=h" %}">Sort By Hates</a>
<a href="{% spurl path=request.get_full_path set_query="s=d" %}">Sort By Date</a>
<br>
{% if sort != None %}
    <a href="{% spurl path=request.get_full_path remove_query_param="s" %}">Clear Sorting</a>
{% endif %}

{% if user_filter != None %}
    <a href="{% spurl path=request.get_full_path remove_query_param="u" %}">Clear User Filtering</a>
{% endif %}

{% if user_filter != None and sort != None %}
    <a href="{% url 'index' %}">Clear Sorting and Filtering</a>
{% endif %}

<div id="movies">
    {% for movie in movies %}
        <p>{{movie.title}}</p>
        <p>{{movie.description}}</p>
        {% if movie.user == user %}
            <p> Posted by <a href="{% spurl path=request.get_full_path set_query="u={{user.id}}" %}" >You</a></p>
        {% else %}
            <p> Posted by <a href="{% spurl path=request.get_full_path set_query="u={{movie.user_id}}" %}" >{{movie.user.get_full_name}}</a></p>
        {% endif %}
        <p>{{movie.date}}</p>
        <p>{{movie.likes}} Likes</p>
        <p>{{movie.hates}} Hates</p>
        {% if movie.user != user %}
            {% if movie.user_opinion == True %}
                <span style="font-weight:bold; background:#f1f1f1;" name="like" hx-post="/movie_vote/" hx-trigger="click" >
            {% else %}
                <span style="background:#f1f1f1;" name="like" hx-post="/movie_vote/" hx-trigger="click" >
            {% endif %}
            <p style="background:inherit;">Like</p>
            </span>

            {% if movie.user_opinion == False %}
                <span style="font-weight:bold;">
            {% else %}
                <span>
            {% endif %}
            <p>Hate</p>
            </span>
        {% endif %}

        <p>{{movie.user_opinion}}</p>
        <hr>
    {% endfor %}
</div>
</body>
{% endblock %}