{% load spurl %}
{% block headEnd %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
{% endblock %}

{% block main %}
<style>
    .marked {font-weight: bold;}
</style>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<h1>Movie World</h1>
{% if user.is_authenticated %}
    <p>Welcome back {{user.get_full_name}}</p>
    <a href="{% url 'logout' %}">Log out</a>
    <a href="{% url 'add_movie' %}">New Movie</a>
{% else %}
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'register' %}">Sign Up</a>
{% endif %}
<hr>
<p>Found {{movie_count}} movies</p>
<hr>

<a href="{% spurl path=request.get_full_path set_query="s=l" %}">Sort By Likes</a>
<a href="{% spurl path=request.get_full_path set_query="s=h" %}">Sort By Hates</a>
<a href="{% spurl path=request.get_full_path set_query="s=d" %}">Sort By Date</a>
<br>
{% if sort != None %}
    <a href="{% spurl path=request.get_full_path remove_query_param="s" %}">Clear Sorting</a>
{% endif %}

{% if user_filter != None %}
    <a href="{% spurl path=request.get_full_path remove_query_param="u" %}">Clear User Filtering</a>
{% endif %}

{% if user_filter != None and sort != None %}
    <a href="{% url 'index' %}">Clear Sorting and Filtering</a>
{% endif %}

<div id="movies">
    {% for movie in movies %}
    <div class="movie_elem" id="{{movie.id}}" >
        <p>{{movie.title}}</p>
        <p>{{movie.description}}</p>
        {% if movie.user == user %}
            <p> Posted by <a href="{% spurl path=request.get_full_path set_query="u={{user.id}}" %}" >You</a></p>
        {% else %}
            <p> Posted by <a href="{% spurl path=request.get_full_path set_query="u={{movie.user_id}}" %}" >{{movie.user.get_full_name}}</a></p>
        {% endif %}
        <p>{{movie.date}}</p>
        <p class="likes_count">{{movie.likes}} Likes</p>
        <p class="hates_count">{{movie.hates}} Hates</p>
        <div class="vote_buttons">
            {% if movie.user != user %}
                <div style="background:#f1f1f1;" class="like" hx-post="/movie_vote/" hx-trigger="click" hx-swap="none">
                    {% if movie.user_opinion == True %}
                        <span class="marked"" >
                    {% else %}
                        <span>
                    {% endif %}
                    <p style="background:inherit;">Like</p>
                    </span>
                </div>

                <div style="background:#f1f1f1;" class="hate" hx-post="/movie_vote/" hx-trigger="click" hx-swap="none">
                    {% if movie.user_opinion == False %}
                        <span class="marked"">
                    {% else %}
                        <span>
                    {% endif %}
                    <p>Hate</p>
                    </span>
                </div>
            {% endif %}
        </div>

        <p>{{movie.user_opinion}}</p>
        <hr>
    </div>
    {% endfor %}
</div>

<script>
    // Prepare the data to send
    document.body.addEventListener('htmx:configRequest', function(evt) {
        test = evt;
        //console.log(evt);
        if (evt.target.parentElement.classList.contains('vote_buttons')){
            evt.detail.parameters['movie_id'] = test.target.parentElement.parentElement.id; // add a new parameter into the mix
            evt.detail.parameters['vote_type'] = evt.target.className; // add a new parameter into the mix
        }
    });

    // What should i do with the response from the server?
    document.body.addEventListener('htmx:afterRequest', function (evt) {
        response_text = evt.detail.xhr.response;
        response = JSON.parse(response_text);

        movie_elem = document.getElementById(response.movie_id);
        likes_count = movie_elem.querySelector('.likes_count');
        hates_count = movie_elem.querySelector('.hates_count');
        vote_buttons = movie_elem.querySelector('.vote_buttons');

        likes_count.innerText = response.likes_count + " Likes"
        hates_count.innerText = response.hates_count + " Hates"

        if (response.modification == 'deleted'){
            vote_buttons.querySelector('.like').children[0].classList.remove("marked");
            vote_buttons.querySelector('.hate').children[0].classList.remove("marked");
        } if (response.modification == 'created'){
            if (response.current_opinion){
                vote_buttons.querySelector('.like').children[0].classList.add("marked");
            } else {
                vote_buttons.querySelector('.hate').children[0].classList.add("marked");
            }
        } if (response.modification == 'toggled'){
            vote_buttons.querySelector('.like').children[0].classList.toggle("marked");
            vote_buttons.querySelector('.hate').children[0].classList.toggle("marked");
        }
    });

</script>

</body>
{% endblock %}